.signup-form {
  width: 70%;
  margin: auto;
  text-align: center;
  @media screen and (max-width: 900px) {
    width: 85%;
  }
  .signup-2input {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    .signup-input {
      width: 49%;
      margin: 0;
    }
  }
  .signup-input {
    margin: 25px 0;
  }
  .form-btn {
    padding: 15px 90px;
    border-radius: 16px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.2s;
    &:hover {
      background-color: var(--purple);
      cursor: pointer;
    }
  }
}
