.auth-container {
  position: fixed;
  inset: 0;
  z-index: 150;
  // background-image: url("../../../public/bg.jpg");
  background-image: url("https://images.unsplash.com/photo-1655146476284-9e5226045ecb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($color: #eeee, $alpha: 0.4);
    backdrop-filter: blur(13px);
  }
}
